<form [formGroup]="searchForm" class="search-form">
    <mat-form-field class="search-form__input">
        <mat-label>Search</mat-label>
        <input formControlName="search" matInput placeholder="search character" />
    </mat-form-field>
</form>

<div class="characters">
    <mat-card class="character" [attr.data-id]="character._id"
        *ngFor="let character of searchResult$ | async; index as i">
        <mat-card-header>
            <mat-card-title>{{ character.firstName }} {{ character.lastName }}</mat-card-title>
            <mat-card-subtitle>{{ character.age }}</mat-card-subtitle>
        </mat-card-header>
        <div class="character-img">
            <a routerLink="{{ character._id }}/phrases">
                <img mat-card-image [src]="character.picture" [alt]="character.firstName" />
            </a>
        </div>

        <mat-card-actions>
            <button class="edit" mat-raised-button (click)="openDialog(character)">
                Edit
            </button>

            <button mat-raised-button color="warn" class="delete" (click)="deleteCharacter(character._id)">
                Delete
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<span class="fab" (click)="openDialog()">
    <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
</span>